body {
    font: caption;
    background-color: #252525;
  }
  

.button1{
    background-color: #343333; 
    outline : none;
    text-align: center;
    color: #f6c90e
}
.button1:focus{
    outline: none;
}
.list-group{
  margin-left:5%;
  margin-right:5%;
  margin-bottom:5%;
}
.fa-plus-circle{
    color : #f6c90e; 
}
input{
  width: 100%;
  margin-top: 8%;
  margin-left: 8%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  border:0;
  outline: none;
  box-shadow:0 0 10px 2px rgba(0,0,0,0.06);
  color: #f6c90e;
  background-color: #303030;
}

.mainbody{
  margin-bottom : 20%;
}

.btn{
  margin-left:5%;
  margin-top:0%;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.footer{
  position: fixed;
  bottom:0;
  background: rgb(53, 52, 52);
  width: 100%;
  padding-top:5%;
  margin-top: 5%;
  color: whitesmoke;
}

#introduction{
  padding-bottom: 0%;
  padding-top: 5%;
  color : #f6c90e;
}

hr{
    background-color: #504f4f;
}
.header{
  background: rgb(53, 52, 52);
  padding-top:5%;
  color: #f6c90e;
  text-align:center;
}

.footer-text{
  margin-left: 8%;
}

.header-text{
  margin-left: 25%;
  padding-bottom: 2%;
}

.todo-item {
  background: #343333;
  border-color:black;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
  color:  #f6c90e;
}
  
.todo-item:nth-child(even) {
  background:  #292828;
}
  
.todo-item:hover {
  background: #4d4b4b;
  transform: scale(1.09);
}

.delete_todo{
  margin-left:20%;
}

.delete_todo:hover {
  background-color: #f44336;
  color: green;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #f6c90e;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #343333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch_div{

  margin-left: 7%;
  padding-top: 1%;
  
  
  
  
}