body {
    font: caption;
    background-color: #DCF8FE;
  }

.list-group{
  margin-left:5%;
  margin-right:5%;
}

input{
  width: 100%;
  margin-top: 8%;
  margin-left: 8%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  border:0;
  box-shadow:0 0 10px 2px rgba(0,0,0,0.06);
}

.btn{
  margin-left:5%;
}



.todo-item {
  background: white;
  border-color: white;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}
  
.todo-item:nth-child(even) {
  background: #f4f4ff;
}
  
.todo-item:hover {
  background: #C7C7EF;
  transform: scale(1.05);
}

.delete_todo{
  margin-left:20%;
}

.delete_todo:hover {
  background-color: #f44336;
  color: white;
}

